html
    head
        title MyApp
    body(class=["myClass"]) 
        h1(id='MyId')= title
        p
            h2 Higher header H2
            h3 sub header 
            ul
                each value in list
                    li= value